<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monetware.ringspider.commons.dao.SettingDao" >
    <resultMap id="settingMap" type="com.monetware.ringspider.base.model.BaseSetting" extends="com.monetware.ringspider.base.dao.BaseSettingMapper.BaseResultMap">

    </resultMap>

    <!--获取设置列表-->
    <select id="getSettingList" parameterType="map" resultMap="settingMap">
       	SELECT
		web_setting.*
	FROM
		web_setting

    </select>

    <!--根据config_name获取相关设置-->
    <select id="getSettingByName" parameterType="hashmap" resultMap="settingMap">
        	SELECT
		web_setting.*
	FROM
		web_setting
		WHERE  setting_name =#{name}
    </select>

</mapper>